################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TrainingManagement/bin/Debug/net9.0
/TrainingManagement/obj
/.vs
/Abstration/bin/Debug/net9.0
/Abstration/obj
/Enum_File_Exception/bin/Debug/net9.0
/Enum_File_Exception/obj
/Opps_Concept/bin/Debug/net9.0
/Opps_Concept/obj
/Custom_Exception/bin/Debug/net9.0
/Custom_Exception/obj
/Basic_Dependency/bin/Debug/net9.0
/Basic_Dependency/obj
/Dependency_And_Container/bin/Debug/net9.0
/Dependency_And_Container/obj
/TrainingCrud/bin/Debug/net9.0
/TrainingCrud/obj
